
@model RequestFormViewModel
@section Styles{
    <link href="~/lib/datetimepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
  
}
<section class="mt-5" dir="rtl" lang="ar">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
              
                <h2 class="mt-5">@(Model?.Id > 0 ? "تعديل الطلب" : "ادخال طلب جديد")</h2>
                <hr class="divider" />
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">              
                <form id="reqForm" asp-action="@(Model?.Id > 0  ? "Edit" : "Create")"
                      data-ajax-method="post"
                data-ajax="true"
                      data-ajax-success="showSuccessMessage"
                      data-ajax-failure="showErrorMessage">
                    <div class="form-floating mb-4">
                        <select class="form-select js-select2Single" id="deviceTypes" asp-for="DeviceTypeId" asp-items="@ViewBag.DeviceTypes" >
                            <option selected value="">أختر نوع الجهاز</option>
                        </select>
                        <span asp-validation-for="DeviceTypeId" class="text-danger"></span>
                    </div>
                    @if (Model?.Id > 0)
                    {
                        <input hidden asp-for="Id" />
                        <input hidden asp-for="EmpId" />
                    }
                   
                    <!--Employee Name input-->
                    <div class="empData">
                        <!-- mobile number input-->
                        <div class="form-floating mb-4">
                            <input  class="form-control" asp-for="EmployeeId" id="mobileNumber" type="text" placeholder="name@example.com" data-sb-validations="required" autocomplete="false" />
                            <label>رقم التليفون</label>
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>

                        </div>
                    <div class="form-floating mb-4">
                            <input class="form-control empName" asp-for="EmployeeName" type="text" placeholder="أدخل اسم الموظف" data-sb-validations="required" autocomplete="false" />
                        <label >اسم الموظف</label>
                        <span asp-validation-for="EmployeeName" class="text-danger"></span>
                    </div>
                    
                    <div class="form-floating mb-4">
                            <select id="Branches" asp-items="@ViewBag.Branches" class="form-select js-select2Single empBranch" onchange="getBranchDepartments(this.value,'#Departments')"
                        asp-for="BranchId">
                            <option selected value="">أختر الفرع</option>
                        </select>
                        <span asp-validation-for="BranchId" class="text-danger"></span>
                    </div>
                   
                    <div class="form-floating mb-4">
                            <select id="Departments" asp-items="@(Model!=null ? ViewBag.Departments : null )" class="form-select js-select2Single empDepart" id="Departments" asp-for="DepartmentId">
                            <option selected value="">أختر الاداره</option>
                        </select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="form-floating mb-4">
                        <input class="form-control" type="text" placeholder="" asp-for="ExportNumber" autocomplete="false" />
                        <label>رقم الصادر</label>
                        <span asp-validation-for="ExportNumber" class="text-danger"></span>
                      
                    </div>

                     <div class="form-floating mb-4">
                        <input class="form-control js-datePicker" id="requestDate" type="text" placeholder="" asp-for="RequestDate" autocomplete="false" />
                        <label >تاريخ الطلب</label>
                        <span asp-validation-for="RequestDate" class="text-danger"></span>
                       
                    </div>

                    <div class="form-floating mb-4">
                        <textarea class="form-control" asp-for="Note" rows="3"></textarea>
                        <label>أضافه ملاحظه</label>                       
                    </div>
             
                    <div class="d-grid"><button class="btn btn-primary btn-l"  type="submit">حفظ</button></div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Plugins{
    <script src="~/lib/datetimepicker/moment.min.js"></script>
    <script src="~/lib/datetimepicker/daterangepicker.min.js"></script>
    <script src="~/sweetalert2/sweetalert2.min.js"></script>
}
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
   
}