@model IEnumerable<RequestViewModel>
@{
 ViewData["Title"] = "Requests";
}
@section Styles{
 
   @* <link href="~/datatables/css/datatables.bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/lib/datatable/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/datatable/buttons.datatables.min.css" rel="stylesheet" />
  
}

<div class="container-fluid mt-5" dir="rtl" lang="ar">


  
    <div class="row flex-nowrap">
        <div class="col py-3 container">
            <div class="alert alert-dark w-75 m-auto row mt-5" role="alert">

                <div class="col-md-4 fs-2 offset-md-6">
                   
                        <i class="fa-solid fa-person-circle-question"></i>
                 
                    <span> الطلبات</span>

                </div>
                <div class="col-md-2">
                    <a id="btn" class="btn btn-primary" asp-action="Create">إضافه طلب جديد</a>
                </div>
            </div>
            <div class="w-50 fs-5 m-auto mt-5 row" >
                <div class="col-md-3">
                    <input class="form-check-input" type="radio" value="null" name="getRequests" >
                    <label class="form-check-label">
                            الكل (<span style="color:red">@ViewBag.All</span>)
                    </label>
                </div>
                <div class="col-md-4">
                    <input class="form-check-input" type="radio" name="getRequests" value="true">
                    <label class="form-check-label">
                            تم تسليمها  (<span style="color:red">@ViewBag.Delivered</span>)
                    </label>
                </div>
                <div class="col-md-5">
                    <input class="form-check-input" type="radio" name="getRequests" value="false" >
                    <label class="form-check-label">
                            لم يتم تسليمها (<span style="color:red">@ViewBag.NotDelivered</span>)
                    </label>
                </div>

            </div>
           
            <div class="m-5 text-center">
              
                <table class="table table-striped table-hover" id="requestTable" lang="ar">
                    <thead>
                        <tr>
                            <th class="text-center">نوع الجهاز</th>
                            <th class="text-center">تاريخ الطلب</th>
                            <th class="text-center">رقم الصادر</th>
                            <th  class="text-center">حاله التسليم</th>
                             <th class="text-center">رقم تليفون الموظف</th>
                            <th class="text-center">بيانات الموظف صاحب الطلب</th>
                            <th class="text-center">حاله الطلب</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                      @*  @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.DeviceType</td>
                                <td>@item.RequestDate</td>
                                <td>@item.ExportNumber</td>
                               @if(item.IsDeliverd)
                                   {
                                    <td id="deliverd"><span style="color:green ;font-size:1.5rem"><i class="fa-solid fa-circle-check"></i></span></td>
                                    
                                }
                                else
                                {
                                    <td id="notdeliverd"><span style="color:red;font-size:1.5rem"><i class="fa-solid fa-circle-xmark"></i></span></td>
                                    
                                }
                                <td>@item.EmpNumber</td>

                                <td>
                                    <a id="btn" href="javascript:;" class=" btn btn-outline-info js-model-render"
                                   data-title="بيانات الموظف صاحب الطلب" data-url="/Requests/GetEmployeeData/@item.EmpNumber">
                                        <i class="fa-solid fa-user"></i>
                                    </a>
                                </td>
                                @if (item.IsDeliverd)
                                {
                                    <td>
                                        <a class="btn btn-secondary" asp-action="GetDeviceDeliverInfo" asp-controller="Delivaries" asp-route-id="@item.Id"><i class="fa-solid fa-info"></i></a>
                                    </td>

                                }
                                else
                                {
                                    <td>
                                        <a class="btn btn-warning" asp-action="DeviceDeliver" asp-controller="Delivaries" asp-route-id="@item.Id"><i class="fa-solid fa-file-export"></i></a></td>

                                }
                               
                            </tr>

                        }*@
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
@section Plugins{
     <script src="~/lib/datatable/datatables.min.js"></script>
    <script src="~/lib/datatable/datatables.buttons.min.js"></script>
    <script src="~/lib/datatable/jszip.min.js"></script>
    <script src="~/lib/datatable/pdfmake.min.js"></script>
    <script src="~/lib/datatable/vfs_fonts.js"></script>
    <script src="~/lib/datatable/buttons.html5.min.js"></script>
    <script src="~/lib/datatable/buttons.print.min.js"></script>
}

@section Scripts{
    <script>
        $(document).ready(function () {
                 var buttonCommon = {
                  
                    exportOptions: {
                         columns: [4,3,2,1,0],
                        format: {
                            //      $('.fa-circle-check').html() === undefined
                            body: function (data, row, column, node) {
                                if (column === 1) {
                                    if (data.includes("fa-circle-check"))
                                        return data = "تم التسليم"
                                    else
                                        return data = "لم يتم التسليم "
                                }
                                else
                                    return data;
                            }
                        }
                    }
                };

                     const radioButtons = document.querySelectorAll('input[name="getRequests"]');
                    for (const radioButton of radioButtons) {
                             radioButton.addEventListener('click', function () {
                               
                    var val = radioButton.value
                                   var table = $("#requestTable").DataTable({
                                        "destroy": true,
                    "serverSide": true,
                    "processing":true,
                    "filter": true,
                    "stateSave":true,
                    "ajax": {
                        //IP +
                        url: "/Requests/GetRequests",
                        type: "POST",
                        dataType: "json",
                        data:{val:val}
                    },
                    "columns": [

                     
                            { "data": "deviceType", "name": "DeviceType", "autowidth": true },
                            { "data": "requestDate", "name": "RequestDate", "autowidth": true },
                            { "data": "exportNumber", "name": "ExportNumber", "autowidth": true },
                        
                        {
                                    "render": function (data, type, row) {
                                      return`<span  style= "color:${(row.isDeliverd ?'green':'red')};font-size:1.5rem" ><i class="fa-solid ${(row.isDeliverd ?'fa-circle-check':'fa-circle-xmark')}"> </i></span>`
                                    }
                        },
                            { "data": "empNumber", "name": "EmpNumber", "autowidth": true },
                               
                         {  "render": function (data, type, row) {
                                return `<a id="btn" href="javascript:;" class=" btn btn-outline-info js-model-render"
                                           data-title="بيانات الموظف صاحب الطلب" data-url="/Requests/GetEmployeeData/${row.empNumber}">
                                        <i class="fa-solid fa-user"></i>
                                    </a>`}
                        },
                                {
                                    "render": function (data, type, row) {
                                        return row.isDeliverd ? `

                                                                                                            <td><a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="التفاصيل" href ="/Delivaries/DeviceDeliverDetails/${row.id}"
                                            ><i class="fa-solid fa-info"></i></a></td>
                                        ` :
                                            `
                                                                     <td> <a  data-toggle="tooltip" data-placement="top" title="تنفيذ الطلب" class="btn btn-warning" href ="/Delivaries/DeviceDeliver/${row.id}"
                                            ><i class="fa-solid fa-file-export"></i></a></td>
                                            `
                                    }
                                }

                       

                    ],
                            dom: 'Bfrtip',
                            buttons: [
                                {
                                    extend: 'excel',
                                   messageTop: function () {
                                       
                                       
                                        if ($('.fa-circle-check').html()=== undefined)
                                           return ' الطلبات التي لم يتم تسليمها ';
                                  
                                         else if($('.fa-circle-xmark').html() === undefined)
                                            return 'الطلبات التي تم تسليمها';
                                    else if ($('.fa-circle-xmark').html() !== undefined && $('.fa-circle-check').html()!== undefined)
                                        return 'جميع الطلبات';

                                    
                                    },
                                    exportOptions: {
                                        columns: [4, 2, 1, 0]
                                   
                                }},
                                {
                                    extend: 'copy',              
                                    messageTop: function () {


                                        if ($('.fa-circle-check').html() === undefined)
                                            return ' الطلبات التي لم يتم تسليمها';
                                        else
                                            return 'الطلبات التي تم تسليمها';

                                    },
                                    exportOptions: {
                                        columns: [4,2,1,0]
                                    
                                }},
                               
                                   
                            $.extend(true, {}, buttonCommon, {
                                extend: 'print',
                                messageTop: function () {

                                    if ($('.fa-circle-check').html() === undefined)
                                        return '<h1 style="text-align:center;color:red;">الطلبات التي لم يتم تسليمها</h1>';

                                    else if ($('.fa-circle-xmark').html() === undefined)
                                        return '<h1 style="text-align:center;color:red;">الطلبات التي تم تسليمها</h1>';

                                    else if ($('.fa-circle-xmark').html() !== undefined && $('.fa-circle-check').html() !== undefined)
                                        return '<h1 style="text-align:center;color:red;">جميع الطلبات</h1>';

                                    //if ($('.fa-circle-check').html()=== undefined)
                                    //   return '<h1 style="text-align:center;color:red;"> الطلبات التي لم يتم تسليمها </h1>';
                                    //   else
                                    //    return '<h1 style="text-align:center;color:red;">الطلبات التي تم تسليمها</h1>';

                                },
                                customize: function (win) {
                                    $(win.document.body).find('table').addClass('display').css('font-size', '20px');
                                    $(win.document.body).find('tr:nth-child(odd) td').each(function (index) {
                                        $(this).css('background-color', '#D0D0D0');
                                    });
                                    $(win.document.body).find('h1').css('text-align', 'center');
                                }
                            }),

                                 
                                    
                                    
                                    //exportOptions:buttonCommon,
                                    //// {
                                    ////    columns: [4, 2, 1, 0]
                                        
                                    ////},
                                  
                             
                                'colvis'
                            ]
                });
                
                                   
                                   });
                             
                           
                    };
        });
       
    </script>
    }
  




          